<section  th:fragment="form">

    <div class="container">
        <div id="formContainer"></div>
    </div>
    <script src="/js/config/TagInput.js"></script>
    <script src="/js/config/FieldGenerator.js"></script>
    <script src="/js/config/FieldValidation.js"></script>
    <script src="/js/config/TableGenerator.js"></script>
    <script src="/js/config/FormHandler.js"></script>
    <script src="/js/config/FromRenderer.js"></script>
    <script src="/js/config/Main.js"></script>
    <script src="/js/layout/notification.js"></script>
    <script src="/js/service/apiservice.js"></script>
</section>