<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/parameterization/companydetails.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="table-container">
    <div class="header-row">
        <h1>Company Registration</h1>
        <a href="/company" class="add-btn">+ Add New Company</a>

    </div>

    <section th:replace="layout/table"></section>
    <nav>
        <ul class="pagination justify-content-center" id="pagination"></ul>
    </nav>
</div>

<script src="/js/parameterization/company/companydetails.js"></script>
</body>
</html>
