:root {
    --creamwhite: #eaeaea;
    --defaultblue: #0b559b;
    --lightred: #ff3b3b;
    --darkred: #BE2929;
    --edityellow: #CF9D24;
    --greenygreen: #388D3B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--creamwhite);
}

nav {
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #444;
}

/* Dropdown styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    min-width: 250px;
    border: 1px solid #444;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #444;
}

.nav-item:hover>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 1px;
    z-index: 1100;
}

a {
    text-decoration: unset !important;
}

.custom-btn-search {
    min-width: 120px;
    padding: 8px 24px;
    background-color: var(--defaultblue);
    color: var(--creamwhite);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-btn-reset {
    min-width: 120px;
    padding: 8px 24px;
    background-color: var(--darkred);
    color: var(--creamwhite);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary,
.btn-warning,
.btn-secondary {
    min-width: 120px;
    padding: 8px 24px;

    color: var(--creamwhite);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--greenygreen);
}

.btn-warning {
    background-color: var(--defaultblue);
}

.btn-secondary {
    background-color: var(--darkred);
}

.bottom-buttons {
    display: flex;
    gap: 10px;
}

.add-btn {
    margin-left: auto;
    text-decoration: none;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    background: #3db6e9;
}

.edit-btn {
    background-color: #2196F3;
}

.delete-btn {
    background-color: #f44336;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.view-btn {
    background-color: var(--defaultblue) !important;
    color: var(--creamwhite) !important;
}

/* .view-btn:hover {
    background-color: #041245 !important;
} */