.table-container {
    width: 90vw;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px 14px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.header-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 60px; /* optional: ensures consistent vertical alignment */
}

.header-row h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
}

.add-btn {
    margin-left: auto;
    text-decoration: none;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    background: #3db6e9;
}

.edit-btn {
    background-color: #2196F3;
}

.delete-btn {
    background-color: #f44336;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.staffimg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
