
.form-group {
    margin-bottom: 16px;
    margin-top: 10px;
}
.radio-group{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    width: 35dvw;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 20dvh 0 0 40dvw;
    overflow: hidden;
}
.save-btn, .cancel-btn {
    min-width: 120px;
    padding: 12px 0;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}
.save-btn {
    background: #000000;
    color: #fff;
    border: none;
}